<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <meta name="description" content="chat on js and nodejs free nad forever">
</head>
<body>
    <main>
        <article>
            <h1><%= title %></h1>
            <p><%= text %></p>
        </article>
    </main>
</body>
</html>